/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
  z-index: 101;
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
  text-align: center;
  pointer-events: none;
  width: 150px;
}

/* Northward tooltips */
.d3-tip.n:after {
/*content: "\25BC";*/
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
/*content: "\25B2";*/
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Westward tooltips */
.d3-tip.w:after {
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: #CCCCCC;
  z-index: 100;
  border-bottom: 2px solid black;
  margin-right: auto;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
}

#page-content {
  	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#page-content>img {
  display: block;
	margin-right: auto;
	margin-left: auto;
}








